<html>
  {%- include head.html -%}
  <body>
        
      

<main class="blog" itemscope="" itemtype="http://schema.org/Blog">
    
    <h1 itemprop="name">deryk's blog</h1>
    

    {{ content }}

    

 
</main>


<!--- <section class="webring">
    
    <a href="https://jplattel.nl/">← Previous</a>
    
    <div>
        
        ○
        <a href="https://webring.stavros.io/" class="webring-name">
            Tech Makers Webring
        </a>
        
    </div>
    
    <a href="https://whynot.fail/">Next →</a>
    
</section>--->
    
  {%- include footer.html -%}



  </body>

</html>

        
        
    

</body>
