<html>
  {%- include head.html -%}
  <body>
        
        

<main class="blog" itemscope="" itemtype="http://schema.org/Blog">
  <a href="/" class="posts-item-brand">deryk's blog</a>
    
    <h1 itemprop="name">{{page.title}}</h1>
    <div class="posts-item-byline">
            
            Updated on <time datetime="{{page.date}}" itemprop="datePublished">{{page.date}}</time>
            
              by <a href="/about/">deryk</a>
        </div>

    {{ content }}

    

 
</main>


<!---<section class="webring">
    
    <a href="https://jplattel.nl/">← Previous</a>
    
    <div>
        
        ○
        <a href="https://webring.stavros.io/" class="webring-name">
            Tech Makers Webring
        </a>
        
    </div>
    
    <a href="https://whynot.fail/">Next →</a>
    
</section>--->

    {%- include footer.html -%}

  </body>

</html>

        
        
    

</body>
